<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create product</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/preview-image.css">
    <link rel="stylesheet" href="/assets/css/custom-style.css">
</head>
<body>

    <div class="container">
        <div class="content">
            <button type="button" class="btn btn-outline-primary" id="btnShowModalUpload">
                <i class="fa fa-plus"></i>
                Create product
            </button>
        </div>

        <th:block th:replace="product/modalCreateProduct" />
    </div>



    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <script>
        const page = {
            urls: {
                createProduct: 'http://localhost:28001/api/products'
            },
            elements: {},
            commands: {},
            dialogs: {
                elements: {},
                commands: {}
            },
            loadData: {},
            initializeControlEvents: {}
        }

        page.elements.btnShowModalUpload = $('#btnShowModalUpload');

        page.dialogs.elements.modalCreateProduct = $('#modalCreateProduct');
        page.dialogs.elements.frmCreateProduct = $("#frmCreateProduct");
        page.dialogs.elements.productName = $('#productName');
        page.dialogs.elements.productPrice = $('#productPrice');
        page.dialogs.elements.productUnit = $('#productUnit');
        page.dialogs.elements.productDescription = $('#productDescription');
        page.dialogs.elements.category = $('#category');

        page.dialogs.elements.wrapper = $("section .wrapper");
        page.dialogs.elements.productName = $("#productName");
        page.dialogs.elements.description = $("#description");
        page.dialogs.elements.imageFile = $("#imageFile");
        page.dialogs.elements.wrapperContent = $("section .wrapper .content");
        page.dialogs.elements.imagePreview = $("section .image-preview canvas");
        page.dialogs.elements.canvas = $("#canvas");
        page.dialogs.elements.context = page.dialogs.elements.canvas[0].getContext('2d');
        page.dialogs.elements.imagePreview.css("display", "none");
        page.dialogs.elements.divImagePreview = $("div.image-preview, div.file-name");
        page.dialogs.elements.btnClearImagePreview = $(".clear-image-preview i");
        page.dialogs.elements.btnCreateProduct = $('#btnCreateProduct');


        page.commands.handleShowModalUpload = () => {
            page.dialogs.elements.modalCreateProduct.modal('show');
        }

        page.dialogs.commands.loadImageToCanvas = (imageFile) => {
            page.dialogs.elements.imagePreview.css("display", "");
            page.dialogs.elements.wrapper.addClass("active");
            page.dialogs.elements.wrapperContent.css("opacity", 0);

            let imageObj = new Image();

            imageObj.onload = function () {
                page.dialogs.elements.context.canvas.width = imageObj.width;
                page.dialogs.elements.context.canvas.height = imageObj.height;
                page.dialogs.elements.context.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height);
            };

            imageObj.src = URL.createObjectURL(imageFile)
        }

        page.dialogs.commands.changeImagePreview = () => {
            let imageFile = page.dialogs.elements.imageFile[0].files[0];

            if (imageFile) {
                let reader = new FileReader();

                reader.readAsDataURL(imageFile);

                reader.onload = function(e){
                    if (e.target.readyState === FileReader.DONE) {
                        page.dialogs.commands.loadImageToCanvas(imageFile);
                    }
                }
            } else {
                // page.dialogs.elements.clearImagePreview();
            }
        }

        page.dialogs.commands.handleCreateProduct = () => {

            const formData = new FormData();
            formData.append('title', page.dialogs.elements.productName.val());
            formData.append('price', page.dialogs.elements.productPrice.val());
            formData.append('unit', page.dialogs.elements.productUnit.val());
            formData.append('description', page.dialogs.elements.productDescription.val());
            formData.append('categoryId', page.dialogs.elements.category.val());
            formData.append('avatar', page.dialogs.elements.imageFile[0].files[0]);

            const jwt = 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhZG1pbiIsImlhdCI6MTY4OTgyNzkwNSwiZXhwIjoxNjkyNDE5OTA1fQ.5ai6V98g4Sbuppho40qdl9CtMtzmm6Mz36b9kPnCQtw';

            $.ajax({
                headers: {
                    'Authorization': 'Bearer ' + jwt
                },
                type: 'POST',
                contentType: false,
                processData:false,
                cache: false,
                url: page.urls.createProduct,
                data: formData
            })
                .done((data) => {
                    alert('OK');
                })
                .fail((jqXHR) => {
                    console.log(jqXHR)
                })
        }

        page.initializeControlEvents = () => {
            page.elements.btnShowModalUpload.on('click', () => {
                page.commands.handleShowModalUpload();
            });

            page.dialogs.elements.wrapper.on('click', () => {
                page.dialogs.elements.imageFile.trigger('click');
            });

            page.dialogs.elements.imageFile.on("change", function () {
                page.dialogs.commands.changeImagePreview();
            });

            page.dialogs.elements.btnCreateProduct.on('click', () => {
                page.dialogs.commands.handleCreateProduct();
            })
        }

        $(() => {
            page.initializeControlEvents();
        })

    </script>

</body>
</html>