<th:block th:fragment="modalCreateProduct">
    <!-- Modal -->
    <div class="modal fade" id="modalCreateProduct" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Modal create product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide"></div>
                    <form id="frmCreateProduct" enctype="multipart/form-data">
                        <fieldset class="row g-3">
                            <div class="mb-3 col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-12 col-form-label">Name</label>
                                    <div class="col-sm-12">
                                        <input type="text" id="productName" name="productName" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label class="col-form-label">Price</label>
                                        <div class="col-lg-12">
                                            <input type="text" id="productPrice" name="productPrice" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="col-form-label">Unit</label>
                                        <div class="col-lg-12">
                                            <input type="text" id="productUnit" name="productUnit" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-12 col-form-label">Category</label>
                                    <div class="col-lg-12">
                                        <select id="category" class="form-select">
                                            <option value="1">Đồ uống có cồn</option>
                                            <option value="2">Nước ngọt</option>
                                            <option value="3">Tráng miệng</option>
                                            <option value="4">Lẩu</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-12 col-form-label">Description</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="productDescription" name="productDescription" />
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 col-md-6">
                                <section>
                                    <div class="wrapper">
                                        <div class="image-preview">
                                            <canvas id="canvas"></canvas>
                                        </div>
                                        <div class="content">
                                            <div class="icon">
                                                <i class="fas fa-cloud-upload-alt"></i>
                                            </div>
                                            <div class="text">
                                                No file chosen, yet!
                                            </div>
                                            <div class="text">
                                                Max file size = 2MB
                                            </div>
                                        </div>
                                        <div class="clear-image-preview">
                                            <i class="fas fa-times"></i>
                                        </div>
                                        <div class="file-name">
                                            Change image
                                        </div>
                                    </div>
                                    <input type="file" id="imageFile" accept="image/jpeg, image/png" hidden />
                                </section>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-primary" id="btnCreateProduct">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</th:block>